{% extends 'App1/base.html' %}
{% block content %}
{% load static %}

    <section class="login-page">
      <h2>Zmień hasło</h2>
        <h3>{{ info }}</h3>
      <form method="post">
          {% csrf_token %}
        <div class="form-group">
          <input type="password" name="oldpassword" placeholder="stare hasło" />
        </div>
          <div class="form-group">
          <input type="password" name="newpassword1" placeholder="nowe hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="newpassword2" placeholder="powtórz nowe hasło" />

        </div>

        <div class="form-group form-group--buttons">

          <button class="btn" type="submit">Zmień hasło</button>
        </div>
      </form>
    </section>

{% endblock %}
