{% extends 'App1/base.html' %}
{% block content %}
    {% load static %}

    <div class="slogan container container--90 help col">
        <div class="form-section--column">

            <h2>imię: {{ user.first_name }} {{ user.id }}</h2>
            <h2>naziwsko: {{ user.last_name }}</h2>
            <h2>email: {{ user.email }}</h2>
            <h1>Lista darów:</h1>
            {% for donation in donations %}
                
                <h3>ilość worków: {{ donation.quantity }} <br/> organizacja: {{ donation.institution.name }}<br/> data: {{ donation.pick_up_date }} {{ donation.pick_up_time }}</h3>
            {% endfor %}
        </div>
    </div>

{% endblock %}
